#action-buttons a.btn-fab i {
    top: 0;
}

#chartdiv {
    height		: 400px;
    font-size	: 11px;
}

#legend {
    font-size: 17px;
}

#legend-buttons .togglebutton label input[type=checkbox]:first-child:checked+.toggle:after {
    background-color: #607d8b;
}

.amChartsLegend text {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}