#action-buttons a.btn-fab i {
    top: 0;
}

#action-buttons .active > a > i {
    color: #ffffff;
}

#action-buttons #weight-button.active > h4 {
    color: #ff9800;
}
#action-buttons #weight-button.active > a {
    background-color: #ff9800;
}

#action-buttons #bpm-button.active > h4 {
    color: #f44336;
}
#action-buttons #bpm-button.active > a {
    background-color: #f44336;
}

#action-buttons #grease-button.active > h4 {
    color: #2196f3;
}
#action-buttons #grease-button.active > a {
    background-color: #2196f3;
}

#action-buttons #objects-button.active > h4 {
    color: #4caf50;
}
#action-buttons #objects-button.active > a {
    background-color: #4caf50;
}

#scale-buttons a[data-action^=display-].active {
    background-color: #607d8b;
}

#chartdiv {
    height		: 400px;
    font-size	: 11px;
}

#legend {
    font-size: 17px;
}

#legend-buttons .togglebutton label input[type=checkbox]:first-child:checked+.toggle:after {
    background-color: #607d8b;
}

.amChartsLegend text {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}