body { font: 12px Arial;}

	path { 
		stroke: steelblue;
		stroke-width: 2;
		fill: none;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: grey;
		stroke-width: 1;
		shape-rendering: crispEdges;
	}

	.legend {
		font-size: 16px;         
		font-weight: bold;         
		text-anchor: start;
		}
	
	#symbol1{font-size: 30px;
			color:steelblue;
		margin-top: 5px;}
	
	#symbol2{font-size: 30px;
		color:green;
		margin-top: 5px;}
	#symbol3{font-size: 30px;
		color:red;
		margin-top: 5px;}
		
	#label{font-size: 15px;
		color:black;}
	#black{color:black;}